# Python
_pycache_/
*.pyc
*.pyo
*.pyd
env/
venv/
env.bak/
venv.bak/

# Data
data/raw/*
data/processed/*
data/structured/*

# Keep folders, track .gitkeep only
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/structured/.gitkeep

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/